Body{
	margin: 0;
}

.frame{
	max-width: 1440px;
  margin: 0 auto;
}
h1{
	  font-family: 'Inter';
    font-size: normal;
    font-weight: 400;
    margin: 50px 0 190px;
}

.img1{
		height: 750px;
    background-image: url("img/ ddt_first.jpg");
    background-size: cover;
}