

.page-container{
  max-width: 1440px;
  max-height: 1823px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  "header header header header"
  "sidebar_left main main sidebar_right"
  "footer footer footer footer"
  ;
}

.header{
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 96px 133px 148px;

}

.header-title{
  grid-column: 2 / 4;
  background-color: #8B8B8B;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  color: #fff;
  font-size: 36px;
  padding: 45px 0;
  margin: 0;
  grid-row: 2;
  margin: 0 20px;
}

.sidebar_left_first{
  grid-area: sidebar_left;
  grid-column: 1;
  background-color: #A4A0A0;
  font-family: Oswald;
  font-size: 32px;
  font-weight: 400;


  
}

main{
  grid-area: main;
  grid-column: 2 / 4;
  background-color: #D9D9D9;


}

.sidebar_right_first{
  grid-area: sidebar_right;
  grid-column: 4;
  width: 345px;
  background-color: #A4A0A0;
}

footer{
  grid-area: footer;
 
}

.header_button_left{
  grid-column: 1;
}

.header_button_right{
  grid-column: 4;
}

.header_button{
  font-family: Oswald;
  font-size: 32px;
  font-weight: 400;
  background: #D9D9D9;
  border-radius: 10px;
  border: 0;
}

img{

  margin: 0 20px;
}

.main-title{
  font-family: Oswald;
  font-size: 36px;
  font-weight: 400;
  margin: 0 260px;
}

.main-text{
  font-family: Oswald;
  font-size: 24px;
  font-weight: 400;
  margin: 30px 20px;
}

.sidebar_left_second{

  background-color: #8B8B8B;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;}
  

.sidebar_right_second{
  
  background-color: #8B8B8B;
}

.sidebar *{
  margin: 0;
}

.second-text{
  margin: 0;
  padding: 64px 51px 0px 51px;
  color: #fff;
}
.read-more{
  margin: 0px 129px 320px 55px;
  color: #fff;
}
.news-weather{
  margin: 0;
  padding:  43px 91px 0px 73px;

}
.main-news{
  font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 36px;
margin: 17px 240px 0px 240px;
}

.spisok{
  list-style-type:none;
  padding: 0px 0px 0px 48px;
  margin: 0;
}
.sidebar_space{

  display: inline-block;
}

.sidebar_right_first{
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
}

.obyavlenia{
  margin: 0;
  padding: 43px 100px 26px 100px;
}

.losten-dog{
  margin: 0;
  padding: 0px 36px 5px 39px;
}

.second-right-text{
  margin: 0;
  padding: 65px 31px 40px 60px;
  color: #fff;
}

.sidebar_right_second{
  font-family: Oswald;
font-size: 32px;
font-weight: 400;
}

.second-read-more{
    margin: 50px 124px 319px 60px;
    color: #fff;
}

.footer{

  background: #828282;
}

.about-us{
  font-family: Oswald;
  font-size: 36px;
  font-weight: 400;
  color: #FFFFFF;
}

.contacs{
  font-family: Oswald;
  font-size: 32px;
  font-weight: 400;
  color: #FFFFFF;
  text-align: left;
  margin: 31px 31px 98px 30px;
  display: inline-block;
}
.look-work{
  font-family: Oswald;
  font-size: 32px;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  margin: 31px 39px 98px 0px;
  display: inline-block;
}

.adres{
  font-family: Oswald;
  font-size: 32px;
  font-weight: 400;
  color: #FFFFFF;
  text-align: right;
  display: inline-block;
}
 @media (min-width: 360px) and (max-width: 760){
  .page-container{
  grid-template-areas: 
  "sidebar_left header header sidebar_right"
  " main main main main"
  "footer footer footer footer"
  ;}
  
 }