

.container{
    display: grid;
    grid-template-areas: 
    "a a a a a a" 
    "b b c c d d"
    "e f g h i j"
    "l l l l l l";
    font-size: 15px;
}
.container > *{
    height: 150px;
}
.test-1{
    grid-area: a;
    background-color: aqua;

}
.test-2{
   grid-area: b;
   background-color: greenyellow; 

}
.test-3{
    grid-area: c;
    background-color: cadetblue;
    
}
.test-4{
    grid-area: d;
    background-color: coral;
 
}
.test-5{
    grid-area: e;
    background-color: burlywood;

}
.test-6{
    grid-area: f;
    background-color: antiquewhite;

}
.test-7{
    grid-area: g;
    background-color: cornflowerblue;

}
.test-8{
    grid-area: h;
    background-color: darksalmon;
 
}
.test-9{
    grid-area: i;
    background-color: darkcyan;

}
.test-10{
    grid-area: j;
    background-color: darkkhaki;

}
.test-11{
    grid-area: l;
    background-color: hotpink;

}

@media (max-width: 600px) {
    .container{
        display: grid;
        grid-template-areas: 
        "a a a a a a" 
        "b b c c d d"
        "e f g h i j"
        "l l l l l l";
        font-size: 15px;
    }
    .container > *{
        height: 150px;
    }
    .test-1{
        grid-area: a;
        background-color: aqua;
    
    }
    .test-2{
       grid-area: b;
       background-color: greenyellow; 
    
    }
    .test-3{
        grid-area: c;
        background-color: cadetblue;
        
    }
    .test-4{
        grid-area: d;
        background-color: coral;
     
    }
    .test-5{
        grid-area: e;
        background-color: burlywood;
    
    }
    .test-6{
        grid-area: f;
        background-color: antiquewhite;
    
    }
    .test-7{
        grid-area: g;
        background-color: cornflowerblue;
    
    }
    .test-8{
        grid-area: h;
        background-color: darksalmon;
     
    }
    .test-9{
        grid-area: i;
        background-color: darkcyan;
    
    }
    .test-10{
        grid-area: j;
        background-color: darkkhaki;
    
    }
    .test-11{
        grid-area: l;
        background-color: hotpink;
    
    }
}